{% extends 'base.html' %}
{% block title %}Student Dashboard{% endblock %}
{% block content %}
<script src="documentScript.js"></script>
<div id="submitBox">
    <form method="POST" enctype="multipart/form-data">
        <h1>Submit a valid file</h1>
        <h4>All valid files will have the following extensions: pdf, doc, docx, jpg, jpeg, and png</h4>
        <input type="file" name="document" id="document"><br><br>
        <input type="submit" name="submit" id="submit"><br><br>
    </form>
</div>
{% endblock %}